.main {
  max-width: 100%;
  display: grid;
  grid-template-columns: 15% 70% 15%;

  @media (max-width: 1320px) {
    grid-template-columns: 25% 75%;
  }
  @media (max-width: 555px) {
    grid-template-columns: 100%;
  }
}

.sidebar-left {
  display: flex;
  top: 0;
  height: 100vh;
  position: sticky;
  flex-direction: column;
  padding-top: 30px;
  background-color: black;
    &-item {
      display: flex;
      align-items: center;
      font-size: 25px;
      font-weight: 400;
      margin-bottom: 5px;
      padding: 5px 10px;
      color: white;
      @media (max-width: 830px) {
        font-size: 15px;
      }
        &:hover {
         background-color: gray;
        }
        &-icon {
          margin-right: 15px;
        }
  }
  @media (max-width: 555px) {
    display: none;
  }
}

.sidebar-right {
  background-color: black;

  @media (max-width: 1320px) {
    display: none;
  }
}

.container {
  height: 150vh;
  background-color: #333333;
}

.artist__header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  background-image: url(/assets/TWENTY.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 25%;
  width: 100%;
    &-title {
      font-size: 80px;
      @media (max-width: 930px) {
        font-size: 70px;
      }
      @media (max-width: 830px) {
        font-size: 40px;
      }
    }
}

.artist__status {
  display: flex;
  padding: 20px 50px;
  align-items: center;
  &-play {
    margin-right: 30px;
  };
  &-follow {
    padding: 7px 25px;
    font-size: 14px;
    color: white;
    border-radius: 10%;
    border: 2px solid white;
    background-color: #333333;
  }
  @media (max-width: 1320px) {
    justify-content: space-between;
  }
}


.artist__songs {
  display: grid;
  grid-template-columns: 65% 35%;
  padding: 10px 50px;
  margin-bottom: 20px;
  @media (max-width: 1320px) {
    grid-template-columns: 90% 10%;
  }
  &-popular {
    h2 {
      margin-bottom: 20px;
    }
    &-top {
      padding-left: 50px;
      &-item {
        display: flex;
        font-weight: 500;
        align-items: center;
        //justify-content: space-between;
        margin-bottom: 10px;
        width: 100%;
        transition: .1s linear;
        &:hover {
          color: green;
        }
        &-icon {
          display: flex;
          align-items: center;
          justify-content: space-between;
          img {
            margin: 0 10px;
            width: 70px;
            height: 70px;
          }
        }
        &-inner {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          @media (max-width: 830px) {
            flex-direction: column;
            align-items: flex-start;
            .timecode {
              display: none;
            }
          }
        }
      }
    }
  }
  &-liked {
    padding-left: 50px;
    h2 {
      margin-bottom: 20px;
    }
    &-inner {
      display: flex;
      img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-right: 20px;
      }
    }

    @media (max-width: 1320px) {
      display: none;
    }
  }
}

.artist__alboms {
  padding: 0 50px;
  &-title {
    margin-bottom: 10px;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px 12px;
      margin-right: 20px;
      margin-bottom: 20px;
      background: rgba(255, 255, 255, 0.08);
      border-radius: 8px;
      width: 152px;
      height: 202px;
      img {
        width: 140px;
        height: 140px;
        margin-bottom: 10px;
        border-radius: 5%;
      }
      p {
        margin: 0;
      }
    }
  }
}
